* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: arial;
  padding: 20px;
}

h1 {
  font-weight: normal;
  text-align: center;
  width: 500px;
  margin: auto;
  font-size: 18px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul li {
  margin-left: 20px; 
  margin-bottom: 20px;
  list-style: none;
}